{% extends 'base.html' %}
{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'userEnvironment/css/userSelection.css' %}">
{% endblock link %}

{% block content %}
<form style="display:none;" class="form_product_in_basket_to_model">
    {% csrf_token %}
</form>

<div class="main-wrapper">
    <h1>
        Избранное
        <span class="amountOfProduct">
            {% if amount_of_product.number__sum %}
{{ amount_of_product.number__sum }}
        {% endif %}
        </span>
    </h1>

    <div class="parent">
        {% for product in products %}
        <input class="input_number" type="number" min="1" step="1" value="1">
        <div class="div{{ forloop.counter }} for_all_div">
            <div class="background-color"></div>
            <div class="image-wrapper">
                <img class="picture" src="{{ product.image.url }}">
            </div>
            <div class="price-wrapper">{{ product.price }}</div>
            <a href="{% url 'product-detail' product.pk %}">
                <div class="title-wrapper">
                    <div class="title">{{ product }}</div>
                    <span class="three_dots">...</span>
                </div>
            </a>
            <button data-product="{{ product.title }}"
                    data-price="{{ product.price }}" data-image="{{ product.image.url }}"
                    class="in_basket" type="submit">в корзину
            </button>
            <button data-product="{{ product.title }}"
                    data-price="{{ product.price }}" data-image="{{ product.image.url }}"
                    class="out_of_basket" type="submit">удалить
                <img class="cart-icon" src="{% static 'userEnvironment/img/cart.png' %}">
            </button>
            <div class="containerForAnimation">
                <div id="fountainG">
                    <div id="fountainG_1" class="fountainG"></div>
                    <div id="fountainG_2" class="fountainG"></div>
                    <div id="fountainG_3" class="fountainG"></div>
                </div>
            </div>
            <button style="position:relative; left:190px;" data-product="{{ product.title }}"
                    data-price="{{ product.price }}" data-image="{{ product.image.url }}"
                    class="toUserSelection" type="submit">в избранное
            </button>
        </div>
        {% endfor %}
    </div>


</div>


{% endblock content %}

{% block script %}
<script type="module" src="{% static 'userEnvironment/js/userSelection.js' %}"></script>
{% endblock script %}