<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{% static 'store/img/favicon.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'store/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'store/css/style.css' %}">
    {% block link %}
    {% endblock link %}
    <title>Онлайн магазин</title>
</head>
<body>
<span id="to-top"></span>
<div class="container-fluid">
    <header>
        <div class="top_header">
            <nav class="header-top-nav-left">
                <a href="{% url 'main' %}">
                    <img class="main-logo" src="{% static 'store/img/shop-logo.png' %}" width="50" height="50">
                </a>
            </nav>
            <div class="search-form-wrapper">
                <form method="get" role="search">
                    <div class="search-dropdown">
                        <span class="search-label">выбрать</span>
                        <i class="search-dropdown-icon"></i>
                    </div>
                    <select class="search-select">
                        <option selected="selected">все категории</option>
                        {% for item in category %}
                        <option>{{ item }}</option>
                        {% endfor %}
                    </select>
                    <div class="search-field">
                        <input type="text" name="" id="item-search-input">
                    </div>
                    <div class="search-submit-block">
                        <img class="arrow-right-submit" src="{% static 'store/img/right-arrow.png' %}" width="45"
                             height="45">
                    </div>
                </form>
            </div>
            <nav class="header-top-nav-right">
                {% if request.user.is_authenticated %}
                <div>
                    <span class="user" style="color:white;">{{user.username}}</span> <span
                        style="color:white;">|</span> <a
                        style="color:white;" href="{% url 'account_logout' %}">выход</a>
                </div>
                <a style="color:white; margin:15px;" href="">
                    заказы
                </a>

                <a style="color:white; margin:15px;" href="{% url 'toUserSelection' %}">
                    избранное
                </a>
                <span class="span-amount-of-product_in_user_selection"></span>
                <a style="color:white; margin:15px;" href="{% url 'basket' %}">
                    корзина
                </a>
                <span class="span-amount-of-product"></span>

                {% else %}
                <div class="register-or-login-wrapper">
                    <a class="reg-login-link reg" href="{% url 'account_signup' %}">регистрация</a>
                    /
                    <a class="reg-login-link login" href="{% url 'account_login' %}">войти</a>
                </div>
                {% endif %}
            </nav>
        </div>
        <div class="bottom_header">
            <div class="burger-wrapper">
                <input type="checkbox" name="" id="burger">
                <label class="burger-label" for="burger"></label>
                <span class="catalog">каталог</span>
                <nav class="burger-list">
                    <ul>
                        {% for item in category %}
                        <a href="{% url 'picked-products' item.pk %}">
                            <li>{{item}}</li>
                        </a>
                        {% endfor %}

                    </ul>
                </nav>

            </div>
        </div>
    </header>
    <div class="content-container">
        <div class="background-image-wrapper">
            {% if messages %}

            {% for message in messages %}

            {% if message.tags == 'error' %}

            <div class="alert alert-danger" role="alert">
                {{message}}
            </div>

            {% else %}

            <div class="alert alert-{{ message.tags }}" role="alert">
                {{ message }}
            </div>

            {% endif %}

            {% endfor %}

            {% endif %}
            {% block content %}

            {% endblock content %}

            <div class="paginator_wrapper">
                {% for current_page in page_obj.paginator.page_range %}
                {% if page_obj.number == current_page %}
                <li class="page-item active">
                    <a class="page-link" href="?page={{ current_page }}">{{ current_page }}
                    </a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ current_page }}">{{ current_page }}
                    </a>
                </li>
                {% endif %}

                {% endfor %}
            </div>
        </div>

    </div>
    <footer>
        <div class="footer-top">
            <a class="to-top-link" href="#to-top">наверх</a>
        </div>
        <div class="footer-bottom">
            <a href="{% url 'main' %}">
                <img class="main-logo-footer" src="{% static 'store/img/shop-logo.png' %}" width="250"
                     height="50">
            </a>
        </div>
    </footer>
</div>

<script src="{% static 'store/bootstrap/js/bootstrap.min.js' %}"></script>
<script type="module" src="{% static 'store/js/script.js' %}"></script>
{% block script %}
{% endblock script %}
</body>
</html>